// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// startbootstrap-sb-admin-2
// @import '~startbootstrap-sb-admin-2/scss/sb-admin-2';

// CoreUI
@import '~@coreui/coreui/scss/coreui';